body{
   margin: 0; 
}
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
header{
    background-color: whitesmoke;
    padding: 40px 0;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 80%;
    float: left; 
}
nav ul{
    margin: 0;
    padding: 0;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(1, 1, 1);
    padding: 10px;
    display: block; 
}
.banner-section img{
    width: 100%
}
article{
    padding: 10%
}
article span{
    text-transform: uppercase;
    color: #01010140;
    font-size: 18px;
}
article h1{
    text-transform: capitalize;
    font-size: 35px;
    color: #010101a8;
}
article p{
    margin-top: 0;
    color: #0101019e;
    font-size: 20px;
    text-align: justify;
}
article a{
    text-transform: uppercase;
    color: #01010140;
    font-size: 18px;
    text-decoration: none;
}
p span{
    text-transform: capitalize;
    color: #01010140;
    font-size: 32px;
    font-weight: 700;
    display: inline-block;
    vertical-align: bottom;
}
.quote container{
    font-family: monospace;
    font-size: 17px;
}